.container {
  width: auto;
  padding: 0px 32px 0 32px;
}
@media (max-width: 960px) {
  .container {
    width: 830px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1310px;
  }
}
body {
  overflow-y: scroll;
}
.side-bar {
  position: fixed;
  height: 100%;
  width: 130px;
}
.side-bar .banner {
  text-align: center;
  line-height: 55px;
  height: 55px;
  font-size: 16px;
}
.side-bar .banner .title {
  font-size: 22px;
}
.side-bar .menu-group {
  width: 100%;
  height: 30px;
}
.side-bar .menus {
  text-align: left;
  font-size: 14px;
}
.side-bar .menus .hover {
  background: #EFEFEF !important;
  font-weight: bold;
}
.side-bar .menus li {
  line-height: 30px;
  cursor: pointer;
}
.side-bar .menus .icons {
  background-color: transparent;
  margin-right: 15px;
  display: inline-block;
  height: 20px;
  vertical-align: sub;
}
.content {
  padding-left: 130px;
}
.content > .header {
  line-height: 55px;
}
.content .header .search-box {
  margin-left: 35px;
  border-bottom: 1px solid #d9dcdf;
  height: 43px;
  display: inline-block;
}
.content .header .search-box .icon-search {
  height: 15px;
  padding-left: 17px;
  display: inline-block;
  background: url(img/icons.png) no-repeat 0px -53px;
}
.content .header .search-box > input {
  color: #929da7;
  line-height: 30px;
  font-family: italic;
  width: 170px;
  border: none;
  border-bottom: 1px solid #d9dcdf;
  outline: none;
}
.content .header .search-box > input::-webkit-input-placeholder {
  color: #b6babd;
}
.header .title {
  font-size: 1.5em;
  letter-spacing: 1px;
  line-height: 1em;
  padding-top: 5px;
  text-shadow: 1px 1px 1px #999999;
  word-wrap: break-word;
}
.header .desc {
  margin-bottom: 0.5em;
  background: #F4F5F6;
  padding: 10px 15px;
  border: 1px solid #ddd;
  font-family: 微软雅黑;
  font-size: 1.1em;
}
.summaryTable {
  font-size: 16px;
  width: 100%;
}
.summaryTable th {
  border: 1px solid #dddddd;
  padding: 5px 5px;
  text-align: left;
}
.summaryTable td {
  border: 1px solid #dddddd;
  padding: 8px 8px;
  text-align: left;
}
.summaryTable td.type {
  width: 46px;
}
.summaryTable td.desc {
  width: 75%;
}
.summaryTable a:link,
.summaryTable a:hover,
.summaryTable a:active,
.summaryTable a:visited {
  text-decoration: underline;
  color: #19199e;
}
