.list {
  font-size: 16px;
  width: 100%;
}
.list th {
  border: 1px solid #dddddd;
  padding: 5px 5px;
  text-align: left;
}
.list td {
  border: 1px solid #dddddd;
  padding: 8px 8px;
  text-align: left;
}
.list td.type {
  width: 46px;
}
.list td.name {
  font-family: 'Fixedsys Excelsior 3.01' Fixedsys;
}
.list td.desc {
  width: 75%;
  font-family: 'Fixedsys Excelsior 3.01' Fixedsys;
}
.list a:link,
.list a:hover,
.list a:active,
.list a:visited {
  text-decoration: underline;
  color: #19199e;
}
