.main {
  margin-left: 170px;
}
.main > .header {
  line-height: 55px;
}
.main > .header .search-box {
  margin-left: 35px;
  border-bottom: 1px solid #d9dcdf;
  height: 43px;
  display: inline-block;
}
.main > .header .search-box .icon-search {
  height: 15px;
  padding-left: 17px;
  display: inline-block;
  background: url(img/icons.png) no-repeat 0px -53px;
}
.main > .header .search-box > input {
  color: #929da7;
  line-height: 30px;
  font-family: italic;
  width: 170px;
  border: none;
  border-bottom: 1px solid #d9dcdf;
  outline: none;
}
.main > .header .search-box > input::-webkit-input-placeholder {
  color: #b6babd;
}
.main .container {
  width: auto;
  padding: 0px 32px 0 32px;
}
