

.hljs {
    display: block; 
    line-height: normal;
    font-family: 'Fixedsys Excelsior 3.01' Fixedsys;
}

.hljs span {
    line-height: 1.1em;
    /*display: inline-block;*/

}


.hljs-string{
  color: #C11515;
}


.hljs-comment {
    color: green;
}



.hljs-number {
    color: red;
}



.hljs-keyword,
.hljs-reserved,
.hljs-value,
.hljs-literal,
.hljs-tag {

    color: blue;

}

.hljs-regexp {
    color: #800063;
}

.hljs-built_in{
    color: #2B91C9;
}


.hljs-title {
    color: #800000;
}

.hljs-attribute{
    color: red;
}

