.Markdown {
  font: 16px/1.6 "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}
.Markdown ul {
  padding-left: 32px;
}
.Markdown ul > li {
  list-style: disc;
}
.Markdown table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  /*font-family: 'Fixedsys Excelsior 3.01' Fixedsys;*/
  font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, Song, sans-serif;
  font-size: 16px;
}
.Markdown table th,
.Markdown table td {
  border: 1px solid #dddddd;
  padding: 5px 5px;
  text-align: left;
}
.Markdown table code {
  padding: 3px 4px 3px 4px;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, Song, sans-serif;
}
.Markdown code {
  padding: 3px 4px 3px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  font-family: 'Fixedsys Excelsior 3.01' Fixedsys;
}
.Markdown pre {
  margin: 0;
  padding: 0px 5px;
}
.Markdown pre code {
  color: #000;
  background-color: transparent;
  cursor: text;
  overflow-y: hidden;
  overflow-x: auto;
}
.Markdown h2,
.Markdown h3,
.Markdown h4,
.Markdown h5 {
  margin-top: 13px;
  margin-bottom: 16px;
}
.Markdown h1,
.Markdown h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.Markdown h1 {
  font-size: 32px;
}
.Markdown h2 {
  font-size: 28px;
  /*margin-top: 0 !important;*/
}
.Markdown h3 {
  font-size: 24px;
}
.Markdown h4 {
  font-size: 20px;
}
.Markdown h5 {
  font-size: 18px;
}
.Markdown hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}
.Markdown blockquote {
  margin: 0 0 16px 0;
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #dddddd;
}
.Markdown blockquote p {
  margin-left: 0;
}
.Markdown p {
  /*text-indent: 32px;*/
}
.Markdown p,
.Markdown ul {
  margin-top: 12px;
  margin-bottom: 12px;
}
.Markdown a {
  color: #4183c4;
  text-decoration: none;
}
.Markdown a:hover {
  text-decoration: underline;
}
.Markdown .source-code {
  /*background-color: #f7f7f7;*/
  margin-bottom: 12px;
}
.Markdown .source-code > span {
  /*float: right;*/
  padding: 4px 10px;
  background: #E1E1E1;
  color: white;
}
.Markdown .source-code > ul {
  padding-left: 0px;
  font-family: 'Fixedsys Excelsior 3.01' Fixedsys;
  text-align: center;
  position: absolute;
  /*background: #f2f2f2;*/
  color: #8B9CC2;
  width: 30px;
  line-height: 20px;
  margin: 0;
  border-right: solid 1px #ddd;
}
.Markdown .source-code > ul li {
  list-style: none;
}
.Markdown .source-code > pre {
  margin-left: 30px;
}
.Markdown .source-code > pre code {
  display: block;
  line-height: 20px;
  padding: 0px;
}
